.outer {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(34 0 21);
}

.box {
	display: flex;
}

.box .inner {
	width: 750px;
	height: 22.5px;
	line-height: 22.5px;
	font-size: 1em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(0, 0, 0);
	color: rgb(98, 255, 74);
	transform-origin: right;
	transform: perspective(100px) rotateY(-0deg);
}

.box .inner:last-child {
	background-color: rgb(0, 0, 0);
	color: rgb(98, 255, 74);
	transform-origin: left;
	transform: perspective(100px) rotateY(0deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}